[submodule "my-plugins/start/airline"]
	path = pack/my-plugins/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "my-plugins/start/auto-pairs"]
	path = pack/my-plugins/start/auto-pairs/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "my-plugins/start/ctrlp"]
	path = pack/my-plugins/start/ctrlp/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "my-plugins/start/surround"]
	path = pack/my-plugins/start/surround/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "my-plugins/opt/rainbow-paren"]
	path = pack/my-plugins/opt/rainbow-paren/rainbow-paren
	url = https://github.com/luochen1990/rainbow.git
